@import 'zf_settings';
@import 'variables';
@import 'animation';
@import '../../bower_components/foundation-sites/scss/foundation';

@include foundation-everything;

body {
  background: $lowlight;
  color: $pastel-green;
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 48px;
  font-weight: 400;
  line-height: 48px;
  margin: 0;
  text-transform: uppercase;
}

h2 {
  font-size: 1.15em;
  font-weight: 300;
  letter-spacing: 1.3em;
  line-height: 18px;
  margin: 0;
  padding-left: 1.3em;
  text-align: center;
  text-indent: 0;
  text-transform: uppercase;
}

// weird hack for webkit mobile letter spacing bug
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 2) {
  h2,
  h2.contact {
    text-indent: -.5em;
  }
}

@media #{$medium-up} {
  h1 {
    font-size: 60px;
    line-height: 60px;
  }

  h2 {
    font-size: 24px;
    letter-spacing: 1.2em;
    line-height: 24px;
  }
}

.fade {
  opacity: .72;
}

.colorcycle {
  animation: colorAnim 20s infinite linear;
}

.logo {
  text-align: center;

  svg {
    animation: strokeAnim 20s infinite linear;
    height: 260px;
    margin: 20px auto;
    width: 293px;
  }
}

@media #{$medium-up} {
  .logo svg {
    margin: 60px auto 40px;
  }
}

.nameplate {
  text-align: center;

  p {
    color: $slate;
    line-height: 18px;
    margin: 20px 10px 0;
    text-align: justify;
    text-align-last: center;
  }
}

@media #{$medium-up} {
  .nameplate p {
    margin: 20px 20% 0;
  }
}

@media #{$large-up} {
  .nameplate p {
    margin: 20px 28% 0;
  }
}

h2.contact {
  margin: 20px auto -32px;
}

@media #{$medium-up} {
  h2.contact {
    font-size: 1.15em;
    letter-spacing: 1.3em;
    line-height: 18px;
    padding-left: 1.2em;
    text-indent: 1.3em;
  }
}

.contact {

  form {
    margin: 40px 20px 0;

    label {
      line-height: 39px;
      text-align: right;
    }
  }

  input,
  textarea {
    background-color: lighten($lowlight, 3%);
    border-color: darken($serious-navy, 3%);
    border-radius: 3px;
    box-shadow: none;
    color: $light-grey;
    outline: 0;
    transition: none;

    &:focus {
      background-color: darken($lowlight, 5%);
      border-color: $serious-navy;
      box-shadow: none;
      outline: 0;
    }
  }

  textarea {
    height: 92px;
  }

  .butan {
    text-align: center;

    .submit {
      background-color: $light-grey;
      border-radius: 3px;
      color: $serious-navy;
      transition: text-shadow .5s ease;
      width: 100%;

      &:hover {
        animation: bgAnim 4s infinite linear;
        color: $white;
        text-shadow: 0 0 2px $white;
      }
    }
  }

  .error.state {
    color: $pastel-yellow;
    margin-bottom: 10px;
    margin-top: 0;
    padding: 0 3%;
    text-align: center;

    a {
      animation: none;
      color: $pastel-yellow;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }

    .message {
      border: 1px solid darken($pastel-yellow, 15%);
      border-radius: 3px;
      padding-top: 16px;
    }
  }

  &.success {
    height: 100px; // 314
    line-height: 100px;
    margin: 107px auto;
    text-align: center;
    width: 90%;

    em {
      margin-right: 5px;
    }

    .message {
      border: 1px solid darken($pastel-green, 15%);
      border-radius: 3px;
    }
  }

  &.loading {
    height: 100px; // 314
    line-height: 100px;
    margin: 107px auto;
    text-align: center;
    width: 90%;

    em {
      margin-right: 5px;
    }

    .message {
      border: 1px solid darken($pastel-green, 15%);
      border-radius: 3px;
    }
  }

  .validation.error {
    color: $pastel-yellow;
    display: none;
    font-size: 14px;
    margin: 0 0 20px 10px;
  }

  .is-invalid-input + .validation.error {
    display: inline-block;
  }
}

.footer {
  font-size: 12px;
  padding: 30px 0;
  text-align: center;
}
